/* @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap"); */
@import url("https://nifty-tesla-85dda2.netlify.app/Components/components.css");

    :root {
    font-size: 13px;
    }
    * {
    font-family: "Inter", sans-serif;
    }
    body {
        background-color: var(--violet-color-light);
    }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: inherit;
  }
  
  .light-txt {
    color: var(--creamy-color);
  }
  .white-txt {
    color: var(--white);
  }
  .white-bg {
    background-color: var(--white);
  }
  .dark-bg {
    background-color: var(--primary-color);
  }
  .flex-row.center-row {
    justify-content: center;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
  }
  
  .content-container {
    width: 100%;
    height: max-content;
  }

  .btn.icon-btn{
    width: 2.3rem;
    color: var(--primary-color);
    padding: 10px;
    height: 1.8rem;
  }
  nav .dark-bg-icon {
    color: var(--white);
    padding: 6px;
    font-size: 1.5rem;
  }
  nav .dark-bg-icon:hover {
    width: min-content;
    height: min-content;
    background-color: transparent;
    color: var(--violet-color);
  }
  

  